<html>
  <!Doctype>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width="device-width" inital-scale="1.0" user-scalable=
    0.0">                                                                                                                                                             
    <title></title>
  </head>                                                         
  <body>
    <div id="container">
      <div id="row">
        <section id="myContent">
          <div id="news-list">
            {{article.title}}
          </div>
        </section>
      </div>
    </div>
  </body>
</html>