<html>
  <!Doctype>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width="device-width" inital-scale="1.0" user-scalable=0.0">                                                                                                                                                             
    <title></title>
  </head>                                                         
  <body>
    <div class="container">
      <div class="row">
       
        <div class="container">
          <div class="row" id="news">
            <div id="latest">
              <div id="latest-img" *ngIf="article.id===0">
                <div id="img">
                  {{article.multimedia[3].url}}
                </div>
                <div id="news-list" class="col-xl-6 col-sm-10 col-lg-7 col-md-7">
                  <p id="news"><a routerLink="{{article.url}}">{{article.title}}</a></p>
                </div>
              </div>
              <div id="latest-news" class="row" *ngIf="article.id!==0">
                <div id="imgs" class="col-sm-10 col-md-3 col-lg-3 col-xl-3">
                  <img src="{{article.multimedia[3]['url']}}">
                </div>
                <div id="news-list" class="col-xl-6 col-sm-10 col-lg-7 col-md-7">
                  <p id="news"><a routerLink="{{article.url}}">{{article.title}}</a></p>
                </div>
              </div>
            </div>
            <div id="sideBar" class="col-md-2 col-sm-2 col-lg-2 col-xl-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>