<div>
  <div id="main">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <div></div>
          <div id="socials">
            <div id="fb">
              <a routerLink="">f</a>
            </div>
            <div id="tw">
              <a>t</a>
            </div>
            <div id="in">
              <a>in</a>
            </div>
          </div>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    
    <div id="logo">
      <img src="../../../assets/logo/logo.png">
    </div>
     <nav class="nav" id="my-navs">
      <a routerLink="">Top News</a>
      <a routerLink="">Business</a>
      <a routerLink="">Technology</a>
      <a routerLink="">sports</a>
      <a routerLink="">Science</a>
      <a routerLink="">Entertainment</a>
    </nav>
  </div>
</div>